{% extends "base.html" %}


{% block content %}

  <div class="container">

        <div class="starter-template">
          <h1>About Us <small>What is Lorem Ipsum?</small></h1>
          <p class="lead">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>

      </div><!-- /.container -->


{% endblock content %}

       

