{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User DashBoard</title>

    <!-- Bootstrap -->
    <link href='{% static "css/dashboard.min.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">
<link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/desk/">
		<img alt="Brand" src="...">
	      </a>
	    </div>

		<ul class="nav navbar-nav navbar-right">
        
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    
		    <li role="separator" class="divider"></li>
		    <li><a href="/desk/logout/">Logout</a></li>
		  </ul>
		</li>
	      </ul>

	  </div>
	</nav>


<div class="container-fluid">
<div class="row">




<div class="col-sm-2">
<div class="panel panel-default">
  <div class="panel-body">
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation"><a href="/desk/"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
  <li role="presentation"><a href="/desk/search/"><i class="fa fa-search" aria-hidden="true"></i> Search Course</a></li>
<li role="presentation"><a href="/desk/add_course/"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Course</a></li>
  <li role="presentation"><a href="/desk/user_course/"><i class="fa fa-book" aria-hidden="true"></i> User's Course</a></li>
<li role="presentation"><a href="/desk/coins/"><i class="fa fa-life-ring" aria-hidden="true"></i> Get Coins</a></li>
 
	</ul>
  </div>
</div>
</div>






<div class="col-sm-10">
  <div class="panel panel-default">
    <div class="panel-body">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

		{% block content %}



		{% endblock content %}

      
    </div>
  </div>
</div>


</div>
</div>














    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
  </body>
</html>
